{% extends "base.html" %}

{% block title %}
<title>This is the follower page</title>
{% endblock %}

{% block welcome %}
{% endblock %}

{% block content %}
<hr>
<div class="container">
    <div class="row">
        <input type="hidden" id="user-id" value="{{ user.id }}">
        <div class="col-lg-12">
            <h2 class="page-header">Follower Stream
                <small>of {{user.username}}</small>
            </h2>
            <!-- all the posts -->
            <script>var commentForm = '{{commentForm}}' </script>
            <div id="follower-posts">
            </div>
        </div>
    </div>
    <div class="next-button-set2">
        <button type="button" class="btn btn-sm btn-default">Previous</button>
        <button type="button" class="btn btn-sm btn-primary">Next</button>
    </div>
</div>
{% endblock %}