{% extends "base.html" %}

{% block title %}
<title>This is the forget password page</title>
{% endblock %}

{% block css %}
{% load static %}
<link type="text/css" href={% static "css/login.css" %} rel="stylesheet">
{% endblock %}

{% block navigation %}
{% endblock %}

{% block content %}
<div class="container">
    <form class="form-signin" method="post" action="{% url 'password' %}">
        <h3 class="form-signin-heading">Find your Grumlr account</h3>
        <br>
        {% for error in errors %}
        <p> {{ error }} </p>
        {% endfor %}
        {% if email %}
        <p>Thank you! The email has been sent to: {{email}}</p>
        {% endif %}
        <h5>Please enter your email address</h5>
        <table>
            <tr>
                <td> {{ form.email.label_tag }} &nbsp</td>
                <td> {{ form.email }}</td>
            </tr>
        </table>
        <br>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">
        <p class="create-account">
            Already have an account? <a href="login">Log in »</a>
        </p>
        <input type="hidden" name="next" value="{{ next }}"/>
        {% csrf_token %}
    </form>
</div>
{% endblock %}

{% block foot %}
<footer class="login-footer">
    <p>&copy; 2016 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>
{% endblock %}


